.App {
  text-align: center;
}

/* .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
td,
th {
  border: 1px solid black;
}

.response-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.graph-representation {
  height: 500px;
  width: 100%;
}

.PrizeDistribution-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
} */
